name: Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  linux:
    name: Build Linux (amd64)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create build
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: cargo build --release

      - name: Archive Artifact
        uses: actions/upload-artifact@v1
        with:
          name: hotdog-amd64
          path: ./target/release/hotdog

  mac:
    name: Build macOS
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create build
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: cargo build --release

      - name: Archive Artifact
        uses: actions/upload-artifact@v1
        with:
          name: hotdog-macos
          path: ./target/release/hotdog

  release:
    name: Create release
    runs-on: ubuntu-latest
    needs:
      - linux
      - mac
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false

      - name: Download hotdog-amd64
        uses: actions/download-artifact@v1
        with:
          name: hotdog-amd64

      - name: Upload hotdog-amd64
        id: upload-release-asset-amd64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: hotdog-amd64
          asset_content_type: application/octet-stream

      - name: Download hotdog-macos
        uses: actions/download-artifact@v1
        with:
          name: hotdog-macos

      - name: Upload hotdog-macos
        id: upload-release-asset-macos
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: hotdog-macos
          asset_content_type: application/octet-stream
